.filter-button {
    margin-top: 1em;
}

button {
    margin: 0 1em !important;
    
}

.input-group button {
    margin: 0 !important;
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
    font-family: Kaushan Script;
    background-color: rgb(233, 231, 230);
}

.form-outline {
    width: 300px;
}

.search {
    padding-top: 1em;
}

.btn-primary {
    background-color: #be42b4 !important;
    border-color: #be42b4 !important;
}