.container {
    position: relative;
    margin-top: 4em;
    width: 90%;
    height: 2100px;
    margin: 0 auto;
}

img.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: zoom 10s forwards;
}

img.cicle {
    position: absolute;
    left: 95px;
    z-index: 2;
    animation: zoom 5s forwards;
    animation-delay: 5s;
}

.text-picture {
    color: #88dbe3;
    animation: text 5s forwards;
    animation-delay: 5s;
    position: absolute;
    top: 35%;
    left: 28%;
    z-index: 3;
    text-align: center;
    font-size: 60px;
    width: 1800px;
    opacity: 0;
}

h1 {
    text-transform: uppercase;
}

@-webkit-keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
        opacity: 60%;
    }
}

@-webkit-keyframes text {
    from {
        opacity: 0%;
        transform: scale(0.5, 0.5);
    }
    to {
        opacity: 100%;
        transform: scale(1, 1);
    }
    
}