.row {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

  .order-lg-0{
      height: 170px  ;
  }
  .order-lg-1,.order-lg-2,.order-lg-3{
      height: 200px;
  }
  .order-lg-4{
      height: 120px;
  }
  .order-lg-5{
      height: 200px;
  }
  .col-md-6{
      height: 120px;
  }