h3 {
    text-transform: uppercase;
    font-weight: bold !important;
}

h3,h5, p,i {
    color: rgb(122, 120, 116) !important;
    text-align: center;
}

.card-title, .card-text {
    text-transform: uppercase;
    text-align: center;
}

.card-body i {
    margin: 0 0.75em;
}

.row-center {
    margin-left: 1.2em;
}
.card-body{
    padding-bottom: 0 !important;
}
.icon{
    padding-top: 0px !important;
}
.margin-top-2{
    margin-top: 2em;
}
.card{
    border: 0 !important;
}